.implants
	margin-bottom: 120px
	padding-top: 190px
	&_title
		margin-bottom: 60px
	&_wrapper
		display: flex
		gap: 50px
		margin: 0 auto
		margin-bottom: 80px
		justify-content: center
		
		img
			max-height: 306px
			border-radius: 30px
			box-shadow: 3px 3px 5px rgba($main-color , .3)
		.content
			display: flex
			flex-direction: column
			align-items: flex-start
			gap: 30px
			max-width: 670px
			.text_services
				margin-bottom: 30px
.ekspress_implant
	position: relative
	padding: 60px 0
	margin-bottom: 120px
	max-height: 480px
	overflow: hidden

	.buttonMoreExpress
		position: absolute
		bottom: 30px
		left: 50%
		transform: translateX(-50%)


.persone_wrapper
	padding: 0 30px
	background: $fon_color
	display: flex
	gap: 50px
	margin: 0 auto
	margin-bottom: 80px
	border-radius: 30px
	img
		max-height: 500px
		border-radius: 30px
	.persone_content
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: space-around
		gap: 30px
		&-text
			h3
				text-align: left
				margin-bottom: 30px
	.persone_blog
		align-self: flex-end
		max-width: 300px
		text-align: right
		h4
			margin-bottom: 20px