.carousel_about
    margin-top: 50px
    .slick-dots
        display: flex
        margin-top: 50px
        justify-content: center
        gap: 20px
        li
            width: 16px
            height: 16px
            background:$textbutton-color
            border-radius: 90px
            button
                display: none
            &.slick-active
                background:$main-color

.carousel_results
    margin-top: 50px
    .slick-dots
        display: flex
        margin-top: 50px
        justify-content: center
        gap: 20px
        li
            width: 16px
            height: 16px
            background:$textbutton-color
            border-radius: 90px
            button
                display: none
            &.slick-active
                background:$main-color


